{% extends "base.html" %}
{% block context %}
<script src="../../static/js/jquery-3.2.1.js"></script>
<script>
$("#page-header").text("收件列表")
</script>
<div class="outlet">
    <!-- Start .outlet -->
    <!-- Page start here ( usual with .row ) -->
    <div class="row">
        <div class="col-lg-12">
            <!-- col-lg-12 start here -->
            <div class="panel panel-default plain toggle panelClose panelRefresh">
                <!-- Start .panel -->
                <div class="panel-heading white-bg">
                    <h4 class="panel-title">Data table</h4>
                </div>
                <div class="panel-body">
                    <table class="table display" id="datatable">
                        <thead>
                            <tr>
                                <th>快递单号</th>
                                <th>快递公司</th>
                                <th>货架编号</th>
                                <th>收件人</th>
                                <th>收件人号码</th>
                                <th>收件人地址</th>
                                <th>入库时间</th>
                                <th>取件时间</th>
                                <th>当前状态</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for dData in lData %}
                            <tr class="odd gradeX">
                                {%for data in dData.values%}
                                    {%if data == None%}
                                        <td></td>
                                    {%else%}
                                        <td>{{data}}</td>
                                    {%endif%}
                                {%endfor%}
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
            </div>
            <!-- End .panel -->

            <ul class="pagination">
                {% if iPage != 0 %}
                    <li><a href="/express/{{iPage|add:-1}}">&laquo;</a></li>
                {% endif %}
                {% for i in oRange %}
                    <li><a href="/express/{{i}}">{{i|add:1}}</a></li>
                {% endfor %}
                {% if iPage != iPageCount|add:-1 %}
                    <li><a href="/express/{{iPage|add:1}}">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
        <!-- col-lg-12 end here -->
    </div>
</div>
<!-- End .outlet -->
{% endblock context %}
